<div class="container">
    <div class="jumbotron">
        <p><b>string-interpolation works!</b></p>
        <h1>{{Name}}</h1>
        <h2>{{UniversityName}}</h2>
        <h2>{{Course}}</h2>
        <h2>{{Branch}}</h2>
        <h2>{{UniversityRoll}}</h2>
        <h2>{{Address}}</h2>
        <img [src]="imgUrl" class="img1 img-rounded img-responsive">
    </div>
    <div class="jumbotron">
        <p><b>String Interpolation Using Object</b>  </p>
        <h1>{{User.Name1}}</h1>
        <h2>{{User.Course1}}</h2>
        <h2>{{User.College1}}</h2>
        <h2>{{User.Address1}}</h2>
    </div>
    <div class="jumbotron">
        <p><b>String Interpolation Expression</b></p>
        <h3>Sum: {{20 + 25}}</h3>
        <h3>Multiplication: {{10 * 10}}</h3>
        <h3>Division: {{12 / 4}}</h3>
        <h3>String Concatination: {{"Shani" + "Kumar" + "Gupta" }}</h3>
    </div>
    <div class="jumbotron">
        <p><b>String Interpolation with JavaScript String method</b></p>
        <h2>{{Name.bold()}}</h2>
        <h3>{{Name.fontcolor("RED")}}</h3>
        <h3>{{Name.toUpperCase()}}</h3>
        <h3>{{Name.toLowerCase()}}</h3>
        <h3>{{Course.toLocaleLowerCase()}}</h3>
        <h3>{{Course.toLocaleUpperCase()}}</h3>
        <h3>{{Name.concat(" ").concat(User.Name1)}}</h3>
        <h3>{{Name.length}}</h3>
        <h3>{{Name.italics()}}</h3>
    </div>
</div>
