<div class="container">
    <div class="jumbotron">
        <p><b>Event-Binding works!</b></p>
        <button (click)="onAddCart()">Add To Cart</button>
        <h3>{{msg}}</h3>
    </div>
    <div class="jumbotron">
        <h3>Perform click event on Input tag</h3>
        <input type="text" value="mytext" (click)="onInputClick($event)">
    </div>
    <div class="jumbotron">
        <button value="Laptop" (click)="onAddCart1($event)">Laptop</button>&nbsp;&nbsp;
        <button value="Mouse" (click)="onAddCart1($event)">Mouse</button>&nbsp;&nbsp;
        <button value="Game" (click)="onAddCart1($event)">Game</button>
        <h2>{{msg1}}</h2>
    </div>
</div>


